<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @user.photo %>
</p>

<p>
  <strong>Is student:</strong>
  <%= @user.is_student %>
</p>

<p>
  <strong>School:</strong>
  <%= @user.school %>
</p>

<p>
  <strong>Has launched:</strong>
  <%= @user.has_launched %>
</p>

<p>
  <strong>About me:</strong>
  <%= @user.about_me %>
</p>

<p>
  <strong>Github:</strong>
  <%= @user.github %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
